@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .screen-only {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
@media screen {
  .print-only {
    display: none !important;
  }
}
